@model FamilyConnections.UI.Models.HomeViewModel


@{
    ViewData["Title"] = "Home";
}

<div>

    @{
        if (Model.CurrentPerson != null && Model.CurrentPerson.Id > -1)
        {
            <div>
                <div>Person:</div>

                <div style="width:200px; border:solid 1px; display:inline-block">
                    <div>
                        <input class="cube-part" asp-for="@Model.CurrentPerson.FullName" readonly="readonly" />
                    </div>
                    <div>
                        <input class="cube-part" asp-for="@Model.CurrentPerson.DateOfBirthStr" readonly="readonly" />
                    </div>
                    <div>
                        <input class="cube-part" asp-for="@Model.CurrentPerson.PlaceOfBirth" readonly="readonly" />
                    </div>
                </div>
            </div>

            <br />
            <hr class="dashed">
        }
    }

    @{
        if (Model.CurrentPerson != null && Model.CurrentPerson.Id == -1)
        {
            <div class="text-center">
                <h1 class="display-4">Add yourself to the connections pool!</h1>
                <p style="margin-top:15px">Connecting to one person is enough!</p>

                <br />
                <a style="border:solid 1px; padding:10px 50px 10px 50px; position:relative; top:5px; text-decoration:unset" asp-controller="Home" asp-action="Add">ADD</a>

                <br />
                <div style="margin-top:30px">OR SELECT</div>

                <form asp-controller="Home" asp-action="Enter" asp method="post">
                    <div>
                        <select asp-for="CurrentPerson.Id" asp-items="@Model.AllPersonsItems" name="Id">
                            <option value="-1" selected="selected">-- Person --</option>
                        </select>
                        <div style="position:relative; top:5px">
                            AND <button type="submit" class="btn btn-link" style="display:inline-block; text-decoration:none; padding: 0px 0px 3px 0px;">
                                ENTER
                            </button>
                        </div>

                        <span asp-validation-for="CurrentPerson.Id" class="text-danger"></span>

                    </div>
                </form>

                <br />
                <hr class="dashed">
            </div>
        }
    }

    @{
        if (Model.CurrentPerson != null && Model.CurrentPerson.Id > -1)
        {
            <div class="text-center">
                <h1 class="display-4">Your connections</h1>

                <div>

                    @foreach (var rel in Model.CurrentPerson.Connections)
                    {
                        <div style="width:200px; border:solid 1px; display:inline-block; margin-right:25px">
                            <div>
                                <input class="cube-part cube-bold" asp-for="@rel.Key.FullName" readonly="readonly" />
                            </div>
                            <div>
                                <input class="cube-part" asp-for="@rel.Key.DateOfBirthStr" readonly="readonly" />
                            </div>
                            <div>
                                <input class="cube-part" asp-for="@rel.Key.PlaceOfBirth" readonly="readonly" />
                            </div>
                            <div>
                                <input class="cube-part cube-bold" asp-for="@rel.Value" readonly="readonly" />
                            </div>
                        </div>
                    }

                </div>

            </div>

            <br />
            <hr class="dashed">

        }
    }


</div>